<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main>
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>
      <% if(currentUser) { %>
        <a href="/wikis/new" class="button">New Wiki</a>
      <% } %>
      <ul>

        <% wikis.forEach((wiki) => { %>
          <li>
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>