<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <div style="display: flex; align-items:center;">
        <h1><%= wiki.title %></h1>
      </div>
      
      <p><%= wiki.body %></p>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>