body {
  padding-top: 54px;
}

#blurbs {
  margin-bottom: 7%;
  margin-right: 2%;
  margin-left: 2%;
}

.wiki-header {
  margin-top: 3%;
}

#content-list {
  margin-bottom: 5%;
}

#public-wiki-list {
  margin-bottom: 1%;
}

#private-wiki-list {
  margin-bottom: 1%;
}