<!DOCTYPE html>
<html lang="en">
  <% include ../static/partials/head.ejs %>
  <body>
    <% include ../static/partials/navbar.ejs %>
      <main>
        <% include ../static/partials/messages.ejs %>
        <header>
          <h1>Blocipedia: Social Wikis</h1>
          <p>Share your Wikis</p>
          <a href="/users/signup" class="button">Sign up</a>
        </header>

        <section>

          <section>
            <h4>Create</h4>
            <p>create as many public wiki's as you want!</p>
          </section>

          <section>
            <h4>Select your plan</h4>
            <p>create private wikis by becoming a premium member, or use the free plan!</p>
          </section>

        </section>

      </main>

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>