<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
      <main class="container">
        <% include ../static/partials/messages.ejs %>
        
        <header class="jumbotron my-4">
          <h1 class="display-3">Blocipedia: Social Wikis</h1>
          <img src="https://www.dropbox.com/s/m5q9hse9g1axvjv/blur-books-close-up-159866.jpg?raw=1" class="img-fluid" alt="Responsive image">
          <h2 class="text-center">Share your Wikis</h2>
          <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <section class="row text-center">

          <section class="col">
            <h4 class="card-title">Create</h4>
            <p class="card-text">create as many public wiki's as you want!</p>
          </section>

          <section class="col">
            <h4 class="card-title">Select your plan</h4>
            <p class="card-text">create private wikis by becoming a premium member, or use the free plan!</p>
          </section>

        </section>

      </main>
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>