<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body>
      <% include ../static/partials/messages.ejs %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Blocipedia</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="container">

        <header class="jumbotron my-4">
          <h1 class="display-3">Blocipedia: Social Wikis</h1>
          <p class="lead">Share your Wikis</p>
          <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Create</h4>
            <p class="card-text">create as many public wiki's as you want!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Select your plan</h4>
            <p class="card-text">create private wikis by becoming a premium member, or use the free plan!</p>
          </section>

        </section>

      </main>

      <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>